body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(217, 46%, 37%);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#container {
    margin: 20px auto;
    padding: 40px;
    background-color: #92A8D1;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

#container label {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

#len {
    color: hsl(239, 100%, 22%);
}

#passwordContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#passwordDisplay {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

#textBox {
    font-size: 2rem;
    text-align: center;
    width: 150px;
    font-weight: bold;
    border-radius: 15px;
    margin: 15px auto;
    border: none;
}

button {
    font-size: 1.75rem;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(210, 100%, 60%);
}

button:active {
    background-color: hsl(210, 100%, 70%);
}

#copyButton {
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: hsl(210, 100%, 50%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#copyButton:hover {
    background-color: hsl(210, 100%, 60%);
}

#copyButton:active {
    background-color: hsl(210, 100%, 70%);
}
